@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
    <h4>Contact Information</h4>
        Roth IT Solutions<br />
        Ringwiesenstrasse 4<br />
        8600 Dübendorf<br />
        rothITsolutions@gmail.com
    </p>
</article>