@model IEnumerable<Online_Shop.Models.BeanBagType>
@{
    ViewBag.Title = "Babelfish42 Online Shop";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
 <h4>Choose your type of Bean Bags:</h4>
<table border="1">
@foreach (var beanBagType in Model) {
    <td>
            @Html.ActionLink(beanBagType.name, "Browse", "BeanBags", new { BeanBagType = beanBagType.name }, null)<br />
            <img src="../../Images/heroAccent.png" alt="Bild ersetzen!" /><br />
    </td>
}
</table>