@model IEnumerable<Online_Shop.Models.BeanBagType>
@{
    ViewBag.Title = "Babelfish42 Online Shop";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
 <h2>Choose your type of Bean Bags:</h2>
<table>
@foreach (var beanBagType in Model) {
    <td align=center>
            <h2>@Html.ActionLink(beanBagType.name, "Browse", "BeanBags", new { BeanBagType = beanBagType.name }, null)</h2><br />
            <img src="@beanBagType.picture" width="400" height="300"/><br />          
    </td>
}
</table>